<div class="center jumbotron">

  <h1 class='center'>
    <div class="row">
      <div class="col-xs-6"><span class="brandt">Juin</span></div>
      <div class="col-xs-6"><span class="metaBrandt">Juillet</span></div>
    </div>
  </h1> 

  <h2>
    L'application de Flora
  </h2>

  <% if !logged_in? %>
  <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<!--<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>-->
