<div class="center jumbotron">
    <div class="row">
        <div class="col-xs-5"></div>
        <div class="col-xs-2 ">
            <h1 class='center cfirst circle'>Juin
            </h1>
            <h1 class='center clast'>Juillet
            </h1>
        </div>
    </div>
    <h3>
        L'application de Flora
    </h3>
    <% if !logged_in? %>
    <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
    <% end %>
</div>
