<% provide(:title,t('comaction.add_label')) %>
<% provide(:button_text,t('add_button')) %>
<% if logged_in? %>
  <h1 class='center'>
  <%=t('comaction.add_label') %>
  </h1>
  <div class='row'>
    <div class="col-md-6 col-md-offset-1">
      <%= render 'form' %>
    </div>
    <div class="col-md-5">
      <%= render 'availibilities' %>
    </div>
  </div>
<% end %>
