<h1>Activation du compte</h1>

<p><%= @user.name %>,</p>
<p>Bienvenue, bienvenue dans ma demeure.
  <%= link_to "Clique moi donc là", edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>
