<h1>Activation du compte</h1>

<p><%= @user.name %>,</p>
<p>Bienvenue, bienvenue chez Human Hunters :-)
  <%= link_to "Cliquez donc ici pour activer le compte", edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>
