
  <div class="row">
    <div class="col-xs-3"><%= job.job_title %></div>
    <div class="col-xs-3">
      <%= link_to '/companies/1/listPeople' %>
      <span class="label label-warning"><%= job.company.company_name %></span>
      <% end %>
      </div>
    <div class="col-xs-3">(<%= job.salary %> euros)</div>
  </div>
