<div class="cartel">
  <div class='row'>
    <div class='col-xs-5 col-xs-offset-2 right'>
      <%= t "created_at" %>
    </div>
    <div class='col-xs-5'>
      <%= time_ago_in_words yield(:creation_date) %>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-7 right'>
      <%= t "update_date" %>
    </div>
    <div class='col-xs-5'><%= time_ago_in_words yield(:update_date) %></div>
  </div>
</div>
