<li>
  <%= company.company_name %> enregistré le <%= company.created_at %>

  <% if logged_in? %>
    | <%= link_to "delete", company, method: :delete, data: { confirm: "C'est sûr ?" } %>
    | <%= link_to "Editer cette société", edit_company_path(company) %>
  <% end %>
</li>
