<div class="row array_header">
  <div class="col-xs-3">
    <%= sort_link(@q, :person_lastname, default_sorting: :asc) do %>
      <strong>Nom</strong>
    <% end %>
  </div>
  <div class="col-xs-3">
    <%= sort_link(@q, :job_title, default_order: :asc) do %>
      <strong>Emploi</strong>
    <% end %>
  </div>
  <div class="col-xs-3">
    <%= sort_link(@q, :start_date, default_order: :desc) do %>
      <strong>Dates</strong>
    <% end %>
  </div>
</div>
