<% provide(:title, 'Liste des sociétés') %>
<h1 class="center">Liste des sociétés</h1>

<%= will_paginate %>
<%= block_header(@header, @params, @tableDB) %>
<%= render @companies %>
<%= will_paginate %>
