<% provide(:title, 'Liste des sociétés') %>
<h1 class="center">Liste des sociétés</h1>

<%= will_paginate %>
<hr>
<div class="row">
    <div class="col-xs-3">
        Nom de société
    </div>
    <div class="col-xs-3">
      
    </div>
    <div class="col-xs-3">
        Date d'enregistrement
    </div>
    <div class="col-xs-3"></div>
</div>
<hr>
  <%= render @companies %>
<%= will_paginate %>
