<% provide(:title, @company.company_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="company_info">
      <h1>
         <%= link_to @company.company_name, edit_company_path(@company) %>
      </h1>
    </section>
  </aside>
</div>
