<div class="row">
  <div class="col-md-3">
    <%= t(dash[:label_month]) %> <%= dash[:label_year] %>
  </div>
  <div class="col-md-3">

  </div>
  <div class="col-md-3">
    <%= dash[:cash_flow] %>
  </div>
  <div class="col-md-3">

  </div>
</div>
