@import "bootstrap-sprockets";
@import "bootstrap";
/* mixins, variables, etc. */
@import "variables";

.color2, input.header{
  color:white;
  background-color: $color2
}

body {
    background-color: $color4;
}


.colorMe{
  color:$color1;
}
.navbar-inverse {
    background-color: $color1; /*#2f0c2f;*/
}
.label-warning{
  background-color: $color2;
}
.grav1, .grav2,.grav5, .grav4,.grav5, .grav6,.grav7, .grav8,.grav9, .grav10,.grav11, .grav12 {
  background-color: $color3;
  height:3px;
  margin:10px;
}
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.top_search > span,.top_search > input{
  color: $color5;
  background-color: $color1;
}
/* miscellaneous */
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}
/* ---------------------*/
// Universal
/* ---------------------*/
body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}
.bottomline{
  display: block;
  vertical-align: bottom;
}

/* ---------------------*/
// typography
/* ---------------------*/
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  background: $color5;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}
h1 {
    font-size: 2.7em;
    #letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: normal;
  color: $color1;
}
h3{
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-weight: normal;
  color: $color3;
}
h6.calendar{
    font-size: 1em;
    letter-spacing: -0.5px;
    margin-bottom: 3px;
    font-weight: normal;
    margin-top:3px;
}
p {
    font-size: 1.1em;
    line-height: 1.7em;
    margin-bottom: 0.3em;
}
.small_label {
  display: block;
  width: 2em;
  vertical-align: middle;
  line-height: 1.5em;
}
/* ---------------------*/
// bars
/* ---------------------*/
.barr{
  background-color: $color5;
  height:2px;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
}
hr.sep{
  color:$color3;
  background-color: $color3;
  height: 1px;
  margin-top:0.5em;
  margin-bottom:1em;
}
//------------------
.btn.btn-success.danger{
  color:$color5;
}

/* ---------------------*/
// gravatar
/* ---------------------*/
.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}
/* ---------------------*/
// forms
/* ---------------------*/
.btnSubmitCtr {
    width: 40%;
    margin: auto;
    text-align: right;
}
.labelDown{
  padding-bottom: 1em;
}
.uneditable-input, input, textarea {
    border: 1px solid $color3;
    /*width: 100%;*/
    margin-bottom: 15px;
    @include box_sizing;
}
#error_explanation {
    color: red;

    ul {
        color: red;
        margin: 0 0 30px;
    }
}
.field_with_errors {
    @extend .has-error;

    .form-control {
        color: $state-danger-text;
    }
}
abbr {
    color: red;
}
#session_remember_me {
    width: auto;
    margin-left: -20px;
}
/* ---------------------*/
// frames
/* ---------------------*/
.rightFrame{
  border-right: 2px solid $color1;
  padding-right: 10px;
  text-align: right;
  margin-right: 10px;
}
.right-align{
  padding-right: 10px;
  text-align: right;
  margin-right: 10px;
}
.leftFrame{
  padding-left: 20px;
  margin-left: 10px;
  text-align: left;
}
.leftFrame_with_border {
  padding-left: 20px;
  margin-left: 10px;
  text-align: left;
  border-left: 2px solid $color1;
}
.frame{
  border: 1px #888888 solid;
  background-color: $color4;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.light_frame{
  padding: 2em;
  text-decoration-style: dashed;
  font-style: italic;
  border: 1px solid #888888;
  background-color: $color7;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color:$color1;
}
.frameMe {
    margin-top: 5px;
    border: 1px #888888 solid;
    padding: 1em 1em 1em 1em;
    background-color: $color5;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    color:black;
    margin-top:15px;
}
.testFrame {
  border: 1px solid red;
}
/*---------------------+
/* background_style
/*---------------------*/
.mint-background{
  background: $color5;
  vertical-align: middle;
}
.header-line{
    line-height: 2em;
    font-weight: 600;
}
.filterContainer{
  margin-left: 5px;
  margin-right:5px;
  background-color: $color5;
  border-top: 1px solid $color2;
  border-bottom: 1px solid $color2;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin-bottom: 1em;
}

/*---------------------+
/* Position
/*---------------------*/
.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}
.checkBelow {
    margin-top: 20px;
}
.tenPxDown{
  margin: 10px;
  padding : 10px;
}
.col-right{
  border-right: 1px solid grey;
}
.col-left{
  border-left: 1px solid grey;
}
.red_star{
  color:red;
}
.cartel{
  color:#555;
  display: inline-block;
  width :200px;
  padding: 3px 10px 3px 0px;
  text-align: right;
  margin: 3em -1.2em 2em 2em;
  font-size: 0.7em;
  -webkit-border-radius:4px 4px 4px 4px;
  border-radius:4px 4px 4px 4px;
  border: 1px solid #999;
}
.fadingColor{
  color: #777;
}
.array_header{
  background-color: $color5; /* #ead3ea;*/
  padding: 10px;
  border-top: 2px #8b7193 solid;
  border-bottom: 2px #8b7193 solid;
  border-top: 2px  $color1 solid;
  border-bottom: 2px  $color1 solid;
  margin-bottom: 15px;
}
a > span.label-warning:hover{
  text-decoration: none;
}
