@import "bootstrap-sprockets";
@import "bootstrap";
/* mixins, variables, etc. */
$light-gray: #777;
$gray-medium-light: #eaeaea;
/* Coolors Exported Palette - coolors.co/00120b-35605a-6b818c-d8e4ff-31e981 */

/* RGB */
$color1: rgba(0, 18, 11, 1);
$color2: rgba(53, 96, 90, 1);
$color3: rgba(107, 129, 140, 1);
$color4: rgba(216, 228, 255, 1);
$color5: rgba(49, 233, 129, 1);
$color6: #CCC;
$color7 : white;
$color8 : #951418;

/* RGB 2*/
$color1: #103828;
$color2: rgba(53, 96, 90, 1);
$color3: rgba(107, 129, 140, 1);
//$color4: #f1f9fb;
$color4: white;
$color5: #8df5ba;
$color6: #CCC;
$color7 : white;
$color8 : #951418;

.color2, input.header{
  color:white;
  background-color: $color2
}

body {
    background-color: $color4;/* #d9cdd9;*/
}

// .select2 .select2-container .select2-container--bootstrap {
//     width: NULL;
// }
// .select2-container--default .select2-search--inline .select2-search__field {
//     width: NULL;
// }
// .safe-select2{
// }
.train-right{
  text-align: right;
}
.colorMe{
  color:$color1;
}
.navbar-inverse {
    background-color: $color1; /*#2f0c2f;*/
}
.label-warning{
  background-color: $color2;
}
.grav1, .grav2,.grav5, .grav4,.grav5, .grav6,.grav7, .grav8,.grav9, .grav10,.grav11, .grav12 {
  background-color: $color3;
  height:3px;
  margin:10px
}
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.top_search > span,.top_search > input{
  color: $color5;
  background-color: $color1;
}
/* miscellaneous */
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}
/* universal */
body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}
.bottomline{display: block;vertical-align: bottom;}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h1 {
    font-size: 2.7em;
    #letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
h1.center.cfirst{
  margin-bottom: -40px;
  text-indent: -55px;
}
h1.center.clast {
  text-indent: -3px;
  margin-bottom: -00px;
}

h2 {
    font-size: 2em;
    letter-spacing: -1px;
    margin-bottom: 20px;
    font-weight: normal;
    color: $color1;
}
h3{
      font-size: 1.6em;
      letter-spacing: -1px;
      margin-bottom: 10px;
      font-weight: normal;
      color: $color3;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
    margin-bottom: 0.3em;
}
.small_label {
  display: block;
  width: 2em;
}
.bord{
  border:solid black 1px;
}
.barr{
  background-color: $color5;
  height:2px;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
}
/* header */
.circle{
  background-color: #f79bd4;
  -webkit-border-radius: 75px 75px 75px 75px;
  border-radius: 100px;
  min-height:66px;
  max-width: 66px;
  vertical-align: middle;
}
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}
/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $light-gray;

    a {
        color: #555;

        &:hover {
            color: #222;
        }
    }

    small {
        float: left;
    }

    ul {
        float: right;
        list-style: none;

        li {
            float: left;
            margin-left: 15px;
        }
    }
}
/* sidebar */
// aside {
//     section.user_info {
//         margin-top: 20px;
//     }
//
//     section {
//         padding: 10px 0;
//         margin-top: 20px;
//
//         &:first-child {
//             border: 0;
//             padding-top: 0;
//         }
//
//         span {
//             display: block;
//             margin-bottom: 3px;
//             line-height: 1;
//         }
//
//         h1 {
//             font-size: 1.4em;
//             text-align: left;
//             letter-spacing: -1px;
//             margin-bottom: 3px;
//             margin-top: 0;
//         }
//     }
// }

/*  pagination  */
.pagination{
  text-align: right;
  margin-top:5px;
  margin-bottom:5px;
  display: block;

  em.current{
    border: 1px solid grey;
    padding : 5px;
    font-weight: 400;
  }
  a{
    border: 1px solid grey;
    font-weight: 600;
    padding : 5px;
    background-color: $color5;
    text-decoration: none;
  }
  span.next_page , span.previous_page, a.next_page , a.previous_page {
    border: 1px solid grey;
    padding : 5px;
    background-color: $color5;
  }
  span.previous_page, a.previous_page{
    -webkit-border-radius:  5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
  }
  span.next_page, a.next_page{
    -webkit-border-radius:  0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px ;
  }
  span.next_page.disabled, span.previous_page.disabled{
    background-color: $color6;
    color:black;
  }
}

/*  end of pagination  */

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}
/* forms */

.btnSubmitCtr {
    width: 40%;
    margin: auto;
    text-align: right;
}
.labelDown{
  padding-bottom: 1em;
}
.uneditable-input, input, textarea {
    border: 1px solid $color3;
    /*width: 100%;*/
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    /*height: auto !important; */
}

#error_explanation {
    color: red;

    ul {
        color: red;
        margin: 0 0 30px;
    }
}

.field_with_errors {
    @extend .has-error;

    .form-control {
        color: $state-danger-text;
    }
}
/* forms */
abbr {
    color: red;
}


#session_remember_me {
    width: auto;
    margin-left: -20px;
}
/* Users index */
.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}
/* frames */

.rightFrame{
  border-right: 2px solid $color1;
  padding-right: 10px;
  text-align: right;
  margin-right: 10px;
}
.leftFrame{
  padding-left: 20px;
  margin-left: 10px;
  text-align: left;
}
.redFrame {
    border: 2px $color2 solid;
    padding: 3px 5px 2px 5px;
    font-size: 0.8em;
    font-weight: bold;
    color: $color2;
    background-color: $color7;
    /*-webkit-box-shadow: 1px 1px 1px 1px #633961;
    box-shadow: 1px 1px 1px 1px #633961;*/
    -webkit-border-radius:4px 4px 4px 4px;
    border-radius:4px 4px 4px 4px;
}
.frame{
  border: 1px #888888 solid;
  background-color: $color4;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.light_frame{
  padding: 2em;
  text-decoration-style: dashed;
  font-style: italic;
  border: 1px solid #888888;
  background-color: $color7;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color:$color1;
}
.frameMe {
    margin-top: 5px;
    border: 1px #888888 solid;
    padding: 1em 1em 1em 1em;
    background-color: $color5;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    color:black;
    margin-top:15px;
}
hr.sep{
  color:$color3;
  background-color: $color3;
  height: 1px;
  margin-top:0.5em;
  margin-bottom:1em;
}

.checkBelow {
    margin-top: 20px;
}

.tenPxDown{
  margin: 10px;
  padding : 10px;
}

.col-right{
  border-right: 1px solid grey;
}
.col-left{
  border-left: 1px solid grey;
}
.cartel{
  color:#555;
  align-content: flex-end;
  margin-top: 2em;
  font-size: 0.85em;
  -webkit-border-radius:4px 4px 4px 4px;
  border-radius:4px 4px 4px 4px;
  border: 1px solid #999;
}
.fadingColor{
  color : #777;
}
.array_header{
  background-color: $color5; /* #ead3ea;*/
  padding: 10px;
  border-top: 2px #8b7193 solid;
  border-bottom: 2px #8b7193 solid;
  border-top: 2px  $color1 solid;
  border-bottom: 2px  $color1 solid;
  margin-bottom: 15px;
}
a > span.label-warning:hover{
  text-decoration: none;
}
/* People  */
.fa-user.client {
  color:$color5;
}
/* Missions */
#mission_search{
  display:inline;
}
.late{
  background-color: $color8;
  color:white;
}
.mission_done{
  background-color: $color6;
}
.small_alert{
  font-size: 0.7em;
  line-height: normal;
  vertical-align: middle;
  color: $color4;
  background-color: $color3;
  padding:3px;
  border:1px solid red;
  -webkit-border-radius:8px 8px 8px 8px;
  border-radius:8px 8px 8px 8px;
}
.filter_box{
  border: 1px solid $color3;
  padding: 4px;
  margin-right: 4px;
  background-color: $color7;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.midway{
  vertical-align: middle;
  line-height:5em;
}
.emptyline{
  display:block;
  height:2em;
  line-height:1.6em;
}
.elbowSpace{
  padding-right: 2em;
  padding-left: 2em;
}
.lightlooks{
  color:#888;
  font-size:0.9em;
}
/* ---------------------*/
// Comactions
/* ---------------------*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color: $color5;
  color :  $color1;
}
.track-border{
  border: 1px black solid;
}
/* Calendars*/
.today{
  background-color: white;
  border : 2px red solid;
}

.cal_date{
  font-size: 0.7em;
  font-family: "Verdana";
  font-stretch: semi-condensed;
  font-weight: bold;
  border : 1px grey solid;
  padding : 2px 10px 2px 10px;
  color:#4b425f;
  -webkit-border-radius:2px;
  border-radius: 2px;
  background-color: $color5;
  margin-bottom: 4px;
  display: inline-block;
}
// .day.start-date{
//     background-color: $color5;
//     background: $color5;
//     border : 2px $color5 solid;
// }
.day.future{
  border: 2px solid $color1;
}
.day.past{
  border: 1px solid grey;
  color:grey;
}
@media screen and (max-width: 767px) {

}
