// Place all the styles related to the Candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*#person_is_jj_hired, #person_is_client {
  margin-left:-55%;
}*/
h1{
  text-align: left;
}
h1>a.client{
  color: #9c2709;
}
h1>a.candidate{
  color: #000000;
}
/*
.pushUp{
  margin-top: -10px;
  padding-top: -10px;
}*/
