// Place all the styles related to the Candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*#person_is_jj_hired, #person_is_client {
  margin-left:-55%;
}*/
@import 'variables';
/* ---------------------*/
// People
/* ---------------------*/
.fa-user.client {
  color:$color5;
}

h1>a.client{
  color: #9c2709;
}
h1>a.candidate{
  color: #000000;
}

/* People */
.spaceUp25{
  margin-top: 25px;
}
.spaceDown{
  margin-bottom: 25px;
}
.close_comment{
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
  font-family: "Verdana";
  line-height: 1em;
  margin-top: -0.7em;
  font-weight: 600;
}

.word_cv_badge{
  color:black;
  //background-color: #FFF;
  padding:0.2em;
  -webkit-border-radius:8px 8px 8px 8px;
  border-radius:8px 8px 8px 8px;
  border: 1px solid #b299b2;
}
