<% provide(:title, 'Editer une mission') %>
<% provide(:button_text, 'Sauvegarder') %>
<% if logged_in? %>
  <h1 class="center">Editer une mission</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'edit_mission_form' %>
    </div>
  </div>
<% end %>
